* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu';
}

.header-img {
  width: 70px;
}

.gallery-img {
  width: 150px;
}

.social-img {
  width: 25px;
  margin-left: 10px;
}

.header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(40,40,40);
  color: #fafafa;
}

.description p {
  display: flex;
  justify-content: center;
}

.logo-container{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 1% 35%;
}

.logo-container div {
  display: flex;
  flex-direction: column;
  background-color: rgb(240, 240, 240);
  margin: 5px;
  padding: 2% 1%;
  border-radius: 8%;
  box-shadow: 2px 2px 3px rgb(199, 199, 199);
}

h4 {
  text-align: center;
}

body hr{
  width: 10%;
  text-align: center;
  margin-left: 45%;
}

footer {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}