html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

@media screen and (max-width: 600px) {
  body {
    background-color: rgb(175, 4, 152);
    color: rgb(255, 255, 255);
  }
}

@media screen and (max-width: 1023px) and (min-width: 600px) {
  body {
    background-color: rgb(6, 201, 168);
    color: rgb(46, 46, 46);
  }
}