.article{
    width: 70%;
    margin: ;
}

.infobox {
    background: #f9f9f9;
    color: #000;
    font-size: 90%;
    line-height: 18px;
    /* float: right; */
    clear: right;
    margin: 0 0 20px 20px;
    width: 500px;
    border: 1px solid #aaa;
    padding: 20px;
    position: absolute;
    top: 150px;
    right: 20px;
}