* {
  margin: 0;
  padding: 0;
}

input {
  margin: 5%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
  width: auto;
  
}

.container-info {
  max-width: 300px;
  text-align: center;
}

.div-name{
  margin-top: 15px;
}

.div-type-housing {
  margin-top: 15px;
}